.left {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.left label {
  margin-top: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: 4rem;
}

.right input {
  margin-top: 11px;
}

.container1 {
  display: flex;
  flex-direction: row;
}

img.colorpick-eyedropper-input-trigger {
  display: none;
}

.green {
    color: green;
}

.red {
    color: red;
}